[user]
        name = your name
        email = youremail@domain.com
[core]
   whitespace = nowarn
   pager = less -FRSX
   edito = vim
   editor = vim
[color]
   ui = auto
   diff = auto
   status = auto
   branch = auto
[alias]
   co = checkout
   br = branch
   st = status
   lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
   undo = reset --hard
   changes=diff --name-status -r
   diffstat=diff --stat -r
   serve = daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
   whois = "!sh -c 'git log -i -1 --pretty="format:%an <%ae>\n" --author=""' -"
   whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
   edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
   add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
[giggle]
   main-window-maximized = true
   main-window-geometry = 700x550+66+24
   history-view-vpane-position = 281
   main-window-view = HistoryView
   file-view-vpane-position = 460


// ##### COPy TO BASHRC ######
// source ~/.git-prompt.sh
// export PS1='\u \w $(__git_ps1 "\[\033[01;34m\]%s \[\033[00m\]")$ '
